<template name="event_page">
    <div class="row"> 
        <div class="col-md-8 col-md-offset-2">
    
        <h1>Event's page:</h1>

        {{> Template.dynamic template=main}}
        
        <button class="show_results">Show results for all teams</button >
        <div class="all_teams_results" style="visibility:hidden;">
            {{> teamMapping}}
        </div>
        
        </div>
    </div>
</template>
  
<template name="teams_show_page">
    <p>If you don't have a team yet, please <a href="" class="create_button">click here to create one</a>, otherwise click on the link with your team's name:</p>
    <h3>Existing teams for the event <i>{{myEvent}}</i>:</h3>
    <form class="create_team" style="display:none;">
        <input name="new_team" type="text" placeholder="Team Name"/>
        <input type="submit" name="submit" value="Create Team"/>
    </form>
    <ul class="list-unstyled">
        {{#each teams}}
        <li class="teams borders"><i class="fa fa-users" style="color:grey"></i>{{>teamName}} (members: {{memberCount _id}})</li>
        {{/each}}
    </ul>
</template>

<template name="teamName">
    <a href="" class="open_team" teamid="{{_id}}"> {{name}}</a>    
</template>

<template name="teamMapping">
    {{#each teamsData}}
    <div class=".col-md-4">
        {{>singleChart}}        
    </div>
    {{/each}}
</template>

<template name="singleChart">
    <div class="visual_mapping" style="float: left;width:50%;padding-right:5px">
        <h3 style="text-align: center;"><a href="" class="open_team" teamid="{{_id}}">{{name}}</a></h3>
        <canvas id="{{_id}}" style="border:1px solid #000000;">        
        </canvas>
    </div>
    {{addCanvas _id}}
    {{checkDataRefresh _id}}
</template>