<head>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
</head>
<body>
</body>

<template name="main_page">
  <div class="row"> 
    <div class="col-md-8 col-md-offset-2">

    <h2>Welcome! </h2>
    <p>Create an event so the participants can add their teams to it.  </p>
    <p>If you have the event created, then share the link to the event with the participants</p>
    {{> Template.dynamic template=main}}
    </div>
  </div>
</template>

<template name="events_show_page">  
  {{> create_event}}
  {{> my_events}}

</template>

<template name="create_event">
  <div class="wrapper">
    <h3>Create new event</h3>
    <form class="create_new_event">
    <input name="new_event" placeholder="Event Name" class="event_name"/>
    <input type="submit" vaue="submit" class="btn btn-primary" name="Create Event"/>  
  </form>
  </div>
</template>

<template name="my_events">
  <h3>List of events:</h3>
  <div class="myEvents">
    <ul class="list-unstyled">
      {{#each myEvents}}
        {{>myEvent}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="myEvent">
  <li>
    <i class="fa fa-calendar"></i> <a href="" eventId="{{_id}}" class="open_event">{{name}} (total teams: {{teamCount _id}})</a>
  </li>
</template>

