body {
  padding: 10px;
  padding-bottom:200px;
  font-family: sans-serif;
}
.sliders{
  width:100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom:10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.title_header{
  width:100%;
  text-align: center;
  padding: 5px;
  margin-top :5px;
}
.header{
  font-weight: bold;
}
.left_side{
  width: 50%;
  float: left;
  text-align: left;
}
.right_side{
  width: 50%;
  float: right;
  text-align: right;
}

h4{
  margin-top:0;
  padding-top:6px;
}

.title_header.odd{
  background-color:lightblue;
}

.title_header.even{
  background-color:lightcyan;
}

.description{
  font-size:13px;
  width:80%;
}

.visual_mapping{
  width:100%;
}

#mapping{
  margin: 0px;
  padding: 0px;
}

li.borders{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

li.teams{
  border: 1px solid green;
}
li.members{
  border: 1px solid blue;
}

.task{
  font-weight: bold;
  color:blue;
}

div.info{
  padding:10px;
  margin: 5px;
  border: 2px dotted black;
}

button.buttons{
  font-size:20px;
  font-weight: bolder;
  border: 2px solid black;
  /* background-color: lightblue; */
  /* color: white; */
}
