<template name="team_page">
    <div class="row"> 
        <div class="col-md-10 col-md-offset-2">
            <div class="col-md-10">
                    {{> Template.dynamic template=main}}    
                <!-- {{#if validMemberId}} -->
                    {{> Template.dynamic template=mappings}}
                <!-- {{/if}} -->

                {{>culture_visualization}}
            </div>

        </div>
    </div>
</template>
  
<template name="members_show_page">
    <div class="row">
        <h2>Team page</h2>
        <p>Current Event: <a href="" eventId="{{pageData.event._id}}" class="open_event">{{pageData.event.name}}</a></p>
        <p>Here are the members of the team {{pageData.team.name}}, to add yourself <a href="" class="create_button">click here</a>.</p>

    </div>
            {{#if members}}
            <h3>Members of <i>{{pageData.team.name}}</i>:</h3>
            {{/if}}
            <form class="add_member" style="display: none;">
                <input name="new_member" type="text" placeholder="Your Name"/>
                <input type="submit" name="submit" value="Add member to {{pageData.team.name}}"/>
            </form>
            <!-- {{#if memberId}}
                <div class='info'>Please save this link somewhere so you can change your personal mapping at any time <a href="" class="member_page">{{user_url}}</a></div>
            {{/if}} -->
            <ul class="list-unstyled">
                {{#each members}}
            <li class="members borders" id={{_id}} style="color:{{color}}"> <i class="fa fa-user"></i> {{name}}</li>
                {{/each}}
            </ul>    
</template>

<template name="map_yourself">
    <div class="Instructions">
        <h4 class="task">Task 1 (Individual)</h4>
        <p>Reflect on yourself in the context of <b>TEAMWORK</b>.<br/>Map your position on the TEAM CULTURE MAP scales by sliding the green dot left or right on the scale. Do it individually without discussing with your team.</p>
    </div>

    <div class="sliders">
        <form class="culture_mapping">
            <h2 style="text-align: center;">Team Culture Map</h2>
            <div class="title_header odd">
                <h4>COMMUNICATING</h4>
                <div class="left_side">
                    <div class="header">Low context</div>
                    <div class="left_side description">good communication is precise, simple and clear. 
                        Messages are expressed and understood at face value. Repetition is appreciated if it helps clarify communication.</div>
                </div>
                <div class="right_side">    
                    <div class="header">High context</div>
                    <div class="right_side description">good communication is sophisticated, nuanced and layered. Messages are both spoken and read between the lines. Messages are often implied but not plainly expressed.</div>
                </div>
                <input type="range" min="1" max="100" value="{{valuesMap.Communicating}}" class="slider" id="value1" name="Communicating">
            </div>

            <div class="title_header even">
                <h4>EVALUATING</h4>
                <div class="left_side">
                    <div class="header">Direct negative feedback</div>
                    <div class="left_side description">Negative feedback is provided frankly, bluntly, and honestly without being softened by positive feedback.</div>
                </div>
                <div class="right_side">    
                    <div class="header">Indirect negative feedback</div>
                    <div class="right_side description">Negative feedback is provided softly, subtly, and diplomatically, while given within positive feedback.</div>
                </div>
                <input type="range" min="1" max="100" value="{{valuesMap.Evaluating}}" class="slider" id="value2" name="Evaluating">
            </div>


            <div class="title_header odd">
                <h4>LEADING</h4>
                <div class="left_side">
                    <div class="header">Egalitarian</div>
                    <div class="left_side description">The best boss is a facilitator among equals. Organizational structure is flat.</div>
                </div>
                <div class="right_side">
                    <div class="header">Hierarchical</div>
                    <div class="right_side description">The best boss is a strong director who leads from the front. Organizational structure is multilayered and fixed.</div>
                </div>
                <input type="range" min="1" max="100" value="{{valuesMap.Leading}}" class="slider" id="value3" name="Leading">
            </div>


            <div class="title_header even">
                <h4>DECIDING</h4>
                <div class="left_side">
                    <div class="header">Consensual</div>
                    <div class="left_side description">Decisions are made in groups through unanimous agreement.</div>
                </div>
                <div class="right_side">    
                    <div class="header">Top-down</div>
                    <div class="right_side description">Decisions are made by individuals (usually the boss)</div>
                </div>
                <input type="range" min="1" max="100" value="{{valuesMap.Deciding}}" class="slider" id="value4" name="Deciding">
            </div>

            <div class="title_header odd">
                <h4>TRUSTING</h4>
                <div class="left_side">
                    <div class="header">Task-based</div>
                    <div class="left_side description">“You do good work consistently” means “You are reliable.”</div>
                </div>
                <div class="right_side">    
                    <div class="header">Relationship-based</div>
                    <div class="right_side description">“I’ve seen who you at deep level, I’ve shared personal time with you over meals and drinks, I know others well who trust you”</div>
                </div>
                <input type="range" min="1" max="100" value="{{valuesMap.Trusting}}" class="slider" id="value5" name="Trusting">
            </div>

            <div class="title_header even">
                <h4>DISAGREEING</h4>
                <div class="left_side">
                    <div class="header">Confrontational</div>
                    <div class="left_side description">Disagreement and debate are positive for the team or organization. Open confrontation is appropriate and will not negatively impact the relationship.</div>
                </div>
                <div class="right_side">    
                    <div class="header">Avoids confrontation</div>
                    <div class="right_side description">Disagreement and debate are negative for the team organization. Open confrontation is inappropriate and will break group harmony or negatively impact the relationship</div>
                </div>
                <input type="range" min="1" max="100" value="{{valuesMap.Disagreeing}}" class="slider" id="value6" name="Disagreeing">
            </div>
    
        <div class="title_header odd">
            <h4>SCHEDULING</h4>
            <div class="left_side">
                <div class="header">Linear-time</div>
                <div class="left_side description">Focus is on the deadline and sticking to the schedule. Emphasis is on promptness and good organization.</div>
            </div>
            <div class="right_side">    
                <div class="header">Flexible-time</div>
                <div class="right_side description">Tasks can be changed as opportunities arise. Many things can be dealt with at once and interruptions accepted</div>
            </div>
            <input type="range" min="1" max="100" value="{{valuesMap.Scheduling}}" class="slider" id="value7" name="Scheduling">
        </div>
    </form>
    </div>
</template>

<template name="not_found">
    <h1>Ooops, page not found</h1>
    <div>make sure you have the right url</div>
</template>


<template name="culture_visualization">
    <div style="padding:10px">
        <p style="text-align: center;"><button class="show_team_mappings buttons">Show Mapping Results and Instructions</button></p>
    </div>
    <div class="visual_mapping" style="position: relative; display: none; ">   
        <!-- height:100vh; width:80vw -->
        <h2 style="text-align: center;">Mappings for {{teamName}}</h2>
        <canvas id="mapping" style="border:1px solid #000000;">        
        </canvas>
        {{checkDataRefresh}}
        <h4 class="task">Task 2 (Group discussion)</h4>
        <p>Discuss within your team what you see on the map now, pay attention to the crossing points and “far away” points, ask questions, share your position and preferences, etc  </p>
        <div class="Instructions">
            <h3>Suggested guidelines for team discussion</h3>
            <p>
                <ul>
                    <li>
                        Pay attention to the gaps between the points, discuss what challenges you might foresee with that and how you would like things to work for your team
                    </li>
                    <li>
                        Look if there is any clear division in the group (many points concentrated in one part and many in another), discuss how it might play out for your team
                    </li>
                    <li>
                        If your team members are all in one area at some scales, discuss pros and cons of that. 
                    </li>
                    <li>
                        Think of the advantages of how different position of team members on the scales might play out for your team work.
                    </li>
                    <li>
                        As you work a lot in online mode, discuss your preferences in relation to deadlines and scheduling, feedback, communication - online/face to face. Share why this or that way works best for you
                    </li>
                </ul>
            </p>
        </div>
        <h4 class="task">Task 3 (Group conclusion)</h4>
        <p>Based on the outcome of discussion decide on <b>3 PRACTICAL THINGS</b> you might do to ensure successful team work.</p> 
        <p>Make notes and Copy/paste these <b>3 PRACTICAL THINGS</b> to the main group chat. </p>    

    </div>



</template>